html,body{
    margin: 0;
    background: rgb(235, 244, 238);
    box-sizing: border-box;
}
/*---------------------------------------------MENU--------------------------------------*/
.menu{
    display: flex;
    vertical-align: middle;
    padding:20px 0;
    background-color: white;
    justify-content: center;
    margin: auto;
    height: 40px;
}
.input-search{
    height: 35px;
    border-color: #80808012;
    margin: 0 200px;
    width: 300px;
    text-align: center;
    background-color: rgba(216, 206, 206, 0.17);
  
}
ion-icon{
    font-size: 30px;
   margin: 0 10px;
}
.menu_hr{
    margin: 0;
    background-color: rgb(185, 71, 71);
}
/*--------------------------------------UPLOADED IMAGES-------------------------------*/
.small-profile-pic{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 10px;
}
.uploaded-feeds{
    margin:30px auto;
    width: 600px;
    height:auto;
    background-color: white;
}
.insta-uploaded-name{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    vertical-align: middle;
}
.user-name--uploaded-img{
    font-weight: 800;
    margin: auto 0;
}

.uploaded-img{
    width: 100%;
}
.upload-img-icons{
    display: flex;
}

/*--------------------------------------MEDIA QUERIES---------------------------------*/
@media only screen and (max-width: 900px) {
 .input-search{
    margin: 0 10px;
    width: 300px;
    text-align: center;
}
}

@media only screen and (max-width: 400px) {
 .input-search{
    display: none;
}
}

