.reg-form{
    text-align: center;
    border: 10px;
    border-color: black;
    background-color: rgba(245, 173, 223, 0.44);
    box-shadow: 4px 4px #ded3d5;
    vertical-align: middle;
    width: 350px;
    margin: 120 auto;
}
form,{
    height: 100%;
    width: 100%;
}
.reg-title{
    font-size: 40px;
    font-family: 'Oleo Script', cursive;
}
input{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    border-color: #5f5454;
    border-radius: 3px;
}