.reg-form{
    text-align: center;
    border: 10px;
    border-color: black;
    background-color: rgba(224, 215, 219, 0.32);
    width: 300px;
    margin: auto;
}
.reg-title{
    font-size: 30px;
    font-family: "Roboto Mono";
}
input{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    border-color: #5f5454;
    border-radius: 3px;
}