html,body{
    padding: 0;
    margin: 0;

}
body{
     background-image: url(bg.jpeg);
     background-position: center;
     background-size: cover;
}
.general-form{
    height: 350px;
    width: 350px;
    background-color: white;
    text-align: center;
    margin: 120 auto;
    box-shadow: 5px 5px rgba(38, 32, 32, 0.19);
}
.form-title{
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: rgb(127, 0, 157);
}
.login-input-box{
    background-color: rgba(235, 231, 231, 0.62);
    border-color: rgba(0, 0, 0, 0.22);
    text-align: center;
    width: 250px;
    height: 40px;
    margin: 20px;
}
.login-button{
    border-radius: 10px;
    background-color: rgba(182, 150, 203, 0.77);
    border-color: rgba(0, 0, 0, 0.27);
    width: 250px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    text-align: center;

}
.login-button:focus{
    border-color: black;

}
.create-account{
    color: black;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}
/*------------------------------------Reg-box-----------------------------*/
.show-reg-form{
    display: none;
}
.reg-height{
    height: auto;
}
.box-margin{
    margin: 5px;
}
/*-------------------------------------MEDIA QUERIES-----------------------*/

